/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &mt LSHIFT ESC_GRAVE
                // 여기에 나머지 키들 계속 추가
            >;
        };
    };
};
